<app-nav-bar></app-nav-bar>
<div class="main">
    <h2>Menu de productos </h2>
    <p>¿Qué acción tienes pensado hacer?</p>
     
    <div class="color">
      <div class="opciones">
        <div class="login">
          <button (click)="irNuevoProducto()"  >Nuevo</button>
        </div>
        <div class="register">
          <button (click)="irCambiarProducto()" >Modificar</button>
        </div>
        <div class="cerrarSesion">
          <button (click)="irConsultar()">Consultar</button>
        </div>
      </div>  
    </div>
  </div>